@use '../styles/variables' as *;

.theme-toggle {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &.light {
        background-color: $primary-bg-color;

        &:hover {
            background-color: #ccc;
        }
    }

    &.dark {
        background-color: #444;
        color: $dark-text-color;

        &:hover {
            background-color: #555;
        }
    }
}