@use '../../styles/variables' as *;

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .react-select__menu {
        background-color: $dark-bg-color;
        border: 1px solid $dark-border-color;
    }

    .react-select__control {
        background-color: $dark-bg-color;
        border: 1px solid $dark-border-color;
        color: $dark-text-color;
    }

    .react-select__single-value {
        color: $dark-text-color;
    }

    .react-select__option {
        background-color: $dark-bg-color;
        color: $dark-text-color;

        &:hover {
            background-color: $dark-hover-bg-color;
        }
    }
}

.search-bar__input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar__button {
    padding: 10px;
    border: none;
    background-color: #61dafb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.suggestions {
    position: absolute;
    border: 1px solid #ccc;
    background: white;
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;

    li {
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: #f0f0f0;
        }
    }
}

/* Media Queries */
@media (max-width: 600px) {
    .search-bar__input {
        padding: 8px;
    }

    .search-bar__button {
        padding: 8px;
    }
}