@use '../../styles/variables' as *;

.recent-searches {
  margin-top: 20px;

  &__title {
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 600px) {
      justify-content: space-around;
    }
  }

  &__item {
    background-color: $card-bg-color;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__remove {
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0;
  }
}

// Media Query
@media (min-width: 600px) {
  .recent-searches__list {
    justify-content: space-around;
  }
}

.light {
  .recent-searches__item {
    background-color: $card-bg-color;
  }
}

.dark {
  .recent-searches__item {
    background-color: #555;
    color: $dark-text-color;
  }

  .recent-searches__item:hover {
    background-color: #666;
  }
}